#entete, #menu, #contenu, #footer {
padding:1px 0;
}
#entete {
background-color:#FF9900;
text-align:center;
}
#main {
max-with:960px;
margin:auto;
}
#menu  {
float:left;
width:240px;
background-color:#FF3366;
}
#contenu {
float:left;
background-color:#9966FF;
width:60%;
}
#footer {
background-color:#669933;
text-align:center;
clear:both;
}
.Tableau {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}.Tableau table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	margin:0px;padding:0px;
}.Tableau tr:last-child td:last-child {
	border-bottom-right-radius:0px;
}
.Tableau table tr:first-child td:first-child {
	border-top-left-radius:0px;
}
.Tableau table tr:first-child td:last-child {
	border-top-right-radius:0px;
}.Tableau tr:last-child td:first-child{
	border-bottom-left-radius:0px;
}.Tableau tr:hover td{
	
}
.Tableau tr:nth-child(odd){ background-color:#a6bdfc; }
.Tableau tr:nth-child(even)    { background-color:#ffffff; }
.Tableau td{
	vertical-align:middle;	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.Tableau tr:last-child td{
	border-width:0px 1px 0px 0px;
}.Tableau tr td:last-child{
	border-width:0px 0px 1px 0px;
}.Tableau tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.Tableau tr:first-child td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.Tableau tr:first-child:hover td{
	background-color:#005fbf;
}
.Tableau tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.Tableau tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}